<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213089433559-7f9gsp41r46onm4sphdf78hc7bpjnegl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213089433559-7f9gsp41r46onm4sphdf78hc7bpjnegl</string>
	<key>API_KEY</key>
	<string>AIzaSyDrL93jPlW5qaxy5jqGZFZwNym3Zjd5-GU</string>
	<key>GCM_SENDER_ID</key>
	<string>213089433559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramclone</string>
	<key>PROJECT_ID</key>
	<string>myfirestore-5f49d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirestore-5f49d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213089433559:ios:f41e0e8cbef7064e11fd92</string>
</dict>
</plist>